In [199]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [256]:
titanic_data = pd.read_csv("0000000000002429_training_titanic_x_y_train.csv", delimiter=",")
titanic_data_test = pd.read_csv("0000000000002429_test_titanic_x_test.csv",delimiter=",")


del titanic_data["Name"]
del titanic_data["Ticket"]
del titanic_data["Cabin"]

del titanic_data_test["Name"]
del titanic_data_test["Ticket"]
del titanic_data_test["Cabin"]



def f1(s):
    if s=="male":
        return 0
    else:
        return 1


titanic_data["Sex"] = titanic_data.Sex.apply(f1)
titanic_data_test["Sex"] = titanic_data_test.Sex.apply(f1)

def f2(s):
    if s=="S":
        return 0
    elif s=="C":
        return 1
    else:
        return 2


titanic_data["Embarked"] = titanic_data.Embarked.apply(f2)
titanic_data_test["Embarked"] = titanic_data_test.Embarked.apply(f2)


tdata = titanic_data[titanic_data.Survived==1]
tdata2 = titanic_data[titanic_data.Survived==0]

tdata.isnull().sum()
tdata2.isnull().sum()

tdata.Age.fillna(tdata.Age.mean(),inplace=True)

tdata2.Age.fillna(tdata2.Age.mean(),inplace=True)

titanic_data.isnull().sum()

titanic_data[titanic_data.Survived==1] = tdata

titanic_data[titanic_data.Survived==0] = tdata2

titanic_data.isnull().sum()


titanic_data_test.Age.fillna(titanic_data.Age.mean(),inplace=True)

xtrain = titanic_data.values[:,:7]
ytrain = titanic_data.values[:,7]

xtest = titanic_data_test.values[:,:7]
 
alg1 = LogisticRegression(max_iter=500,solver='liblinear',C=0.25)  
 
titanic_data.head()

   Pclass  Sex        Age  SibSp  Parch    Fare  Embarked  Survived
0       2    1  29.000000      1      0  26.000         0         1
1       3    0  30.857143      0      0   8.050         0         0
2       2    0  39.000000      0      0  26.000         0         0
3       3    1  29.000000      0      4  21.075         0         0
4       3    0  25.000000      0      0   7.050         0         0

In [257]:
alg1.fit(xtrain,ytrain)

LogisticRegression(C=0.25, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=500, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [258]:
ytest_pred = alg1.predict(xtest)

In [259]:
np.savetxt("prediction.csv",ytest_pred)